{% extends "base.html" %}

{% block content %}

<script>
    $(document).ready(function () {
        $('#data').DataTable({
            ajax: '/api/fooditems',
            pageLength: 25,
            columns: [
                {data: 'restaurant'},
                {data: 'item'},
                {data: 'calories'}
            ],
        });
    });
</script>

<table id="data" class="display">
    <thead>
        <tr>
            <th scope="col">Restaurant</th>
            <th scope="col">Item</th>
            <th scope="col">Calories</th>
        </tr>
    </thead>
</table>

{% endblock %}

